@model WebApplication1.Models.Person
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddPerson1</title>
</head>
<body>
<div>
    <h1>年龄：@Model.Age</h1>
    <h1>QQ：@Model.Qq</h1>

</div>
</body>
</html>
